extends layout

block content
  h1= title
  div
    label(for='file') Choose file to upload
    div#fileChooserDiv
      input#fileChooser(type='file', name='file', multiple='')
      #dropzone Drag & Drop Here
      div
        button#submit Upload
      div#nothingToUploadMessage No file was selected, please try again
      #fileInfo
      | Status:
      #uploadStatus

  script(src='javascripts/app.js')
