extends layout

block content
  h1= title
  div
    div#fileChooserDiv
      label(for='file') Choose file to upload
      input#fileChooser(type='file', name='file', multiple='')
      div
        button#submit Upload
      div(data-nothingtoupload='') No file was selected, please try again
      #dropzone Drag & Drop Here
      #fileInfo
      | Status:
      .alert-box.secondary

  script(src='javascripts/app.js')
